@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.back-btn {
  font-weight: 600;
  font-size: 18px;
  padding: 6px 16px;
  background: #e8e8e8;
  color: #444444;
  border-radius: 10px;
  margin: 20px auto;
  width: 120px;
  text-align: center;
  cursor: pointer;
  transition: 0.2s;
}

.back-btn:hover {
  background: #c9c9c9;
}

.container-all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.schedule-all {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;


  .empty-lesson {
    font-weight: 600;
    color: #858585;
    text-align: center;
    width: 100%;
    margin-top: 60px;
    font-size: 30px;
  }

  .cabs {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 25px;
    min-height: 70vh;
  }

  .cab-items {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
  }

  .active-day {
    box-shadow: 0 0 10px 5px #8cbbff;
    border: 1px solid #8cbbff !important;
  }

  .today {
    font-size: 11px;
    color: #567CB3;
    font-weight: bold;
  }


  .swiper-slide:last-child .container-day {
    border-right: none;
  }

  .swiper-pagination {
    text-align: center;
    font-size: 18px;
  }

  .container-day-eightPairs {
    max-width: 240px;
    min-width: 230px;
    border-radius: 10px 10px 0 0;
    padding-bottom: 10px;
    margin-bottom: 20px;


    .active {
      background: #f3f3f3 !important;
    }

    .lesson-cont {
      overflow: hidden;
      height: fit-content;
      background-color: white;
      display: flex;
      flex-direction: column;

      .couple {
        padding-top: 10px;
      }

      .item {
        height: 75px !important;

        .name {
          font-size: 11px !important;
          font-weight: 600;
          letter-spacing: 0.8px;
          color: #363636;
        }

        .teacher {
          font-size: 11px !important;
        }


        .num {
          font-size: 38px;
        }

        .cab {
          font-weight: 500;
          font-size: 11px;
          color: #676767;
        }
      }
    }

    .row-items {
      margin: 0 auto;
    }

    .head {
      display: flex;
      border-radius: 10px 10px 10px 10px;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      .group {
        font-size: 20px;
        margin-left: 15px;
        font-weight: 400;
        color: black;
        font-family: "Inter", sans-serif;
        letter-spacing: -1px;
      }


      .day {
        font-size: 14px;
        color: #fff;
      }
    }

  }

  .container-day {
    max-width: 240px;
    min-width: 230px;
    border-radius: 10px 10px 0 0;
    padding-bottom: 10px;
    margin-bottom: 20px;

    .active {
      background: #f3f3f3 !important;
    }

    .lesson-cont {
      overflow: hidden;
      height: fit-content;
      background-color: white;
      display: flex;
      flex-direction: column;

      .couple {
        padding-top: 10px;
      }

      .item {
        height: 75px !important;

        .name {
          font-size: 11px !important;
          font-weight: 600;
          letter-spacing: 0.8px;
          color: #363636;
        }

        .teacher {
          font-size: 11px !important;
        }


        .num {
          font-size: 38px;
        }

        .cab {
          font-weight: 500;
          font-size: 11px;
          color: #676767;
        }
      }
    }

    .row-items {
      margin: 0 auto;
    }

    .head {
      display: flex;
      border-radius: 10px 10px 10px 10px;
      width: 100%;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      .group {
        font-size: 20px;
        margin-left: 15px;
        font-weight: 400;
        color: black;
        font-family: "Inter", sans-serif;
        letter-spacing: -1px;
      }


      .day {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}

.swiper-div {
  display: flex;
  justify-content: center;
  max-height: 850px;
}

.swiper-div-eightPairs {
  display: flex;
  justify-content: center;
}

.WrapperBar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.gray-line {
  width: 700px;
  background: #f5f5f5;
  display: flex;
  border-radius: 10px;
}

@media screen and (max-width: 1824px) {
  .container-day {
    transform: scale(0.8);
    margin-top: -50px;
  }

  .swiper-div {
    max-height: 700px;
  }

  .container-day-eightPairs {
    transform: scale(0.7);
    margin-top: -130px;
  }

  .swiper-div-eightPairs {
    max-height: 800px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #4b4b4b !important;
  opacity: 0.8;
}

.indicator-content {
  width: 30%;
  height: 8px;
  border-radius: 2px;
  border: 1px solid #7D7B7B;
}

@keyframes progress {
  from {
    width: 25%;
  }

  to {
    width: 0;
  }
}

.animate {
  animation: progress 5s
}

.slider-center {
  justify-content: center;
  display: flex;
  width: 85%;
  flex-direction: column;
}

.main {
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapperHeader {
  width: 85%;
  display: flex;
  align-items: center;
}

.dayOfTheWeek {
  background-color: #FFE178;
  font-family: "inter";
  color: black;
  font-weight: 400;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.flex {
  display: flex;
}

.heartGif {
  max-width: 160px;
  max-height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #FFE178;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-top: 4px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 8px;
}

.heartGif img{
  height: 100%;
  width: 70px;
  object-fit: cover;
  position: relative;
  margin-right: 25px;
  margin-left: -23px;
}

.rocketGif{
  max-width: 160px;
  max-height: 40px;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin-top: -2px;
  margin-left: -15px;
  animation: rocketAnimate 12s;
}

@keyframes rocketAnimate {
  0% {transform: translateX(0)}
  100% {transform: translateX(700px)}
}
.rocketGif img{
  height: 100%;
  width: 70px;
  object-fit: cover;
}

.heartGif span{
  font-family: "inter";
  color: black;
  font-weight: 400;
  font-size: 20px;
  margin-left: -43px;
  margin-bottom: 2px;
}