.sidebar {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .main-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    user-select: none;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;

    .btn-filter {
        background: #E2EEFF;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        cursor: pointer;
        transition: .4s;
        margin-bottom: 20px;
        width: 140px;

        .icon {
            background: url('../../assets/img/filter-icon.png');
            height: 22px;
            width: 22px;
            background-repeat: no-repeat;
            background-size: contain;
            margin-right: 13px;
        }

        .text {
            font-size: 18px;
            line-height: 21px;
            color: #2F5672;
        }
    }

    .btn-filter:hover {
        background: #b0d0fd;
    }

    .group {
        margin-left: 20px;
        margin-right: 40px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        color: #365d88;
        margin-bottom: 30px;
    }

    .mode-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;


        .title {
            font-size: 13px;
            color: #A8A8A8;
        }

        .mode-button {
            background: #a6c9ff;
            border: 3px solid #7fb2ff;
            font-size: 18px;
            color: #1f4681;
            font-weight: 500;
            padding: 5px 0px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            cursor: pointer;
            transition: 0.3s;
        }

        .mode-button:hover {
            background: #b7d4ff;
        }
    }

    .weeks-button {
        display: flex;
        margin-bottom: 20px;

        .btn-w {
            cursor: pointer;
            display: flex;
        }


        .btn-w:hover {
            .text {
                color: #5d9bff;
                border-bottom: 1px solid #5d9bff;
            }
        }

        .arrow-left-sidebar {
            background-image: url('../../assets/img/arrow-left.png');
            width: 21px;
            height: 21px;
        }

        .arrow-right-sidebar {
            background-image: url('../../assets/img/arrow-right.png');
            width: 21px;
            height: 21px;
        }

        .text {
            margin-right: 20px;
            margin-left: 20px;
            color: #496795;
            transition: 0.3s;
        }
    }

}

.switch-head {
    display: flex;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #2D4F90;
    border-radius: 3px;
    max-width: 279px;
    font-size: 13px;
    cursor: pointer;

    .active-item {
      color: #FFFFFF;
      background: #2D4F90;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 99%;
      width: 200px;
    }

    .passive-item {
      width: 200px;
      padding: 3px 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }