.schedule-all {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .active-day {
    box-shadow: 0 0 10px 5px #8cbbff;
    border: 1px solid #8cbbff !important;
  }

  .today {
    font-size: 11px;
    color: #567CB3;
    font-weight: bold;
  }

  .swiper-slide:last-child .container-day {
    border-right: none;
  }

  .container-day {
    width: 100%;
    max-width: 241px;
    min-width: 245px;
    margin-right: 15px;
    border-radius: 10px 10px 0 0;
    padding-bottom: 10px;
    margin-top: 15px;

    .lesson-cont {
      border-radius: 10px;
      overflow: hidden;
      margin-top: 10px;
      border: 1px solid #c2c2c2;
      height: 541px;
    }

    .row-items {
      margin: 0 auto;
    }

    .head {
      display: flex;
      padding-top: 14px;
      padding-bottom: 18px;
      border-radius: 10px;
      background: #414050;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .day-week {
        text-transform: capitalize;
        font-size: 13px;
        margin-left: 15px;
        font-weight: 600;
        color: #fff;
      }

      .main-cont {
        display: flex;
        flex-direction: column;
        margin-top: -9px;
      }

      .min-cont {
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        width: 55%;
        align-items: end;
      }

      .cont-btn-more {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 10px;
        margin-right: 10px;
        margin-left: 10px;
        background: #FAC145;
        cursor: pointer;
      }

      .btn-more {
        background: url('../../assets/img/arrows-expand-right.png') no-repeat;
        height: 16px;
        width: 16px;
        background-size: contain;
        margin-right: 5px;
        margin-left: 5px;
      }

      .day {
        font-size: 14px;
        color: #fff;
      }
    }
  }
}


@media screen and (max-width: 550px) {
  .container-day {
    max-width: none !important;
    margin: 15px !important;
    width: 100%;
  }
}

.swiper-button-next, .swiper-button-prev {
  color: #4b4b4b !important;
  opacity: 0.8;
}