.shedule-week {
    transition: 0.3s;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .active-day {
        box-shadow: 0px 0px 10px 5px #8cbbff;
        border: 2px solid #8cbbff !important;
    }

    .container-day {
        min-height: 70vh;
        display: flex;
        max-width: 265px;
        min-width: 262px;
        border-radius: 10px;
        border: 2px solid #F0F0F0;
        margin: 10px;
    }

    .today {
        font-size: 11px;
        color: #567CB3;
        font-weight: bold;
    }

    .container-day {
        background: #fff;

        .row-items {
            margin: 0 auto;
            width: 95%;
        }

        .head {
            display: flex;
            margin-top: 14px;
            margin-bottom: 18px;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .day-week {
                font-size: 15px;
                margin-left: 4px;
                font-weight: 600;
                color: #9c9c9c;
            }

            .main-cont {
                display: flex;
                flex-direction: column;
                margin-top: -9px;
            }

            .min-cont {
                display: flex;
                width: 50%;
                align-items: center;
            }

            .cont-btn-more {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;
                border-radius: 10px;
                margin-right: 5px;
                background: rgb(158 205 255 / 25%);
                border: 1px solid #a4b3ff;
                cursor: pointer;
            }

            .btn-more {
                background-image: url('../../assets/img/arrows-expand-right.png');
                height: 16px;
                width: 16px;
                margin-right: 5px;
                margin-left: 5px;
            }

            .day {
                font-size: 15px;
                color: rgb(113 150 224);
            }
        }
    }
}

