

.shedule-week {
    transition: 0.3s;

    .container-week {
        display: flex;
        z-index: 10;
        position: relative;
        margin-top: 10px;
    }
    
    .nums {
        display: flex;
        align-items: center;
        font-size: 48px;
        flex-direction: column;
        color: #9B9B9B;
        margin-left: -50px;
        width: 50px;
        background: #fff;

        .num {
            margin-bottom: 80px;
        }

        .active {
            color: #22539C;
        }
    }


    .content-week {
        width: 100%;
        border-top: 1px solid #888888;
        border-left: 1px solid #888888;
        user-select: none;

        .row-items {
            height: 151px;
            border-bottom: 1px solid #888888;
            display: flex;
        }

        .item {
            width: 100%;
            border-right: 1px solid #888888;
        }

        .couple {
            margin-left: 10px;

            .name {
                font-size: 13px !important;
                margin-top: 2px;
            }

            .cont {
                display: flex;
                flex-wrap: wrap;
            }

            .cab {
                margin-right: 10px;
                margin-left: 0 !important;
                font-size: 12px;
                margin-bottom: 6px;
            }

            .sub-item {
                .time {
                    line-height: 5px;
                }
            }

            .current-couple {
                background: #22539C;
                color: #fff;
                border-radius: 5px;
                font-size: 12px;
                padding: 0 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .one-couple {
            .time {
                margin-top: 15%;
            }
        }

        .dinner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            font-size: 18px;

            .title {
                font-weight: bold;
            }
        }

        .no-couple {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
        }

        .sub-item:first-child {
            border-bottom: 1px solid #CECECE;
        }
    }



}