.shedule-week {
    transition: 0.3s;
    width: 80%;
    margin: 0 auto;
    display: flex;
    overflow: auto;

    .container-day {
        display: flex;
        min-width: 300px;
        height: 70vh;
        border-radius: 10px;
        border: 2px solid #F0F0F0;
    }


    .container-day {
        background: #fff;
        .row-items {
            margin: 0 auto;
            width: 95%;
        }

        .head {
            display: flex;
            margin-top: 14px;
            margin-bottom: 13px;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .day-week {
                font-size: 15px;
                margin-left: 4px;
            }

            .min-cont {
                display: flex;
                align-items: center;
            }

            .btn-more {
                background-image: url('../../assets/img/arrows-expand-right.png');
                height: 16px;
                width: 16px;
                margin-right: 20px;
            }

            .day {
                font-size: 15px;
            }
        }
    }
}