* {
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.state-banner {
  margin: 100px auto;
  font-size: 30px;
  font-weight: 600;
  width: 100%;
  color: #9B9B9B;
  text-align: center;
}

.flex {
  display: flex;
}

.shadow-container {
  border: 1px solid #9B9B9B;
  border-radius: 30px;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
  min-height: 80vh;
}

@media screen and (max-width: 400px) {
  .shadow-container {
    border: none
  }
}

.App {
  //max-width: 1200px;
  margin: 50px auto;
  width: 100%;
}

