* {
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: #F6F7F9;
}

.shedule::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.shadow-container {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  width: 80%;
  height: 70vh;
  margin: 0px auto;
  overflow: auto;
  background: #fff;
}

.App {
  width: 100%;
  margin-top: 140px;
}